#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

form {
  width: 500px;
  margin: 0 auto;
  text-align: left;
}

input,
textarea,
select {
  display: block;
  margin-top: 10px;
}
